<section id="home" class="cl_white text-center">
<h1>My Portfolio</h1>
<p class="lead">Proof of concept.</p>
<button class="btn btn-default">Contact me</button>
</section>

<section id="work" class="container">
    <div class="page-header">
        <h1 class="text-center">My work</h1>
    </div>
        <%= image_tag 'portfolio-1.jpg', class: "img-thumbnail" %>
        <%= image_tag 'portfolio-2.png', class: "img-thumbnail" %>
        <%= image_tag 'portfolio-3.jpg', class: "img-thumbnail" %>
        <%= image_tag 'portfolio-4.jpg', class: "img-thumbnail" %>
        <%= image_tag 'portfolio-1.jpg', class: "img-thumbnail" %>
        <%= image_tag 'portfolio-2.png', class: "img-thumbnail" %>
</section>