<nav class="navbar navbar-inverse navbar-fixed-top navbar-default">
    <ul id="Menu" class="nav navbar-nav">
      <li id="brandLogo"><%= link_to image_tag('CaifLogoLetras.png'), root_path(:anchor => "home"), class: "navbar-image-brand" %></li>
      <li><%= link_to "CAIF", root_path(:anchor => "home"), class: "navbar-brand", id: "menuheader" %></li>
      <li><%= link_to "Nuestros Servicios", root_path(:anchor => "work"), id: "menuheader" %></li>
      <li><%= link_to "Acerca de nosotros", root_path(:anchor => "about"), id: "menuheader" %></li>
      <li><%= link_to "¿Cómo llegar?", root_path(:anchor => "location"), id: "menuheader" %></li>
      <li><%= link_to "Contacto", root_path(:anchor => "contact"), id: "menuheader" %></li>
    </ul>
    <div id="socialcontainer" class="container-fluid">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to (image_tag 'facebook.png',  id: "socialmedia"), "https://www.facebook.com/CAIF-240650029420365", id: "socialmediaref" %></li>
        <li><%= link_to (image_tag 'twitter.png',  id: "socialmedia"), "https://twitter.com/caif", id: "socialmediaref" %></li>
        <li><%= link_to (image_tag 'instagram.png',  id: "socialmedia"), "https://www.instagram.com/caif.repdom", id: "socialmediaref" %></li>
      </ul>
    </div>
</nav>
