<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <ul class="nav navbar-nav">
      <li><%= link_to "CAIF", root_path(:anchor => "home") %></li>
      <li><%= link_to "Nuestros Servicios", root_path(:anchor => "work") %></li>
      <li><%= link_to "Acerca de nosotros", root_path(:anchor => "about") %></li>
      <li><%= link_to "¿Cómo llegar?", root_path(:anchor => "location") %></li>
      <li><%= link_to "Contacto", root_path(:anchor => "contact") %></li>
    </ul>
    <div id="socialcontainer" class="container-fluid">
      <ul class="nav navbar-nav navbar-right">
        <li><%= image_tag 'facebook.png', class: "img-circle", id: "socialmedia" %></li>
        <li><%= image_tag 'twitter.png', class: "img-circle", id: "socialmedia" %></li>
        <li><%= image_tag 'instagram.png', class: "img-circle", id: "socialmedia" %></li>
      </ul>
    </div>
</nav>